{
  "Servers": {
    "1": {
      "Name": "${server_name}",
      "Group": "Servers",
      "Host": "${server_host}",
      "Port": ${server_port},
      "MaintenanceDB": "${maintenance_db}",
      "Username": "${db_username}",
      "SSLMode": "${ssl_mode}"
    }
  }
}
